# =========================================================
# Flutter / Dart
# =========================================================
.dart_tool/
.fvm/
.pub-cache/
.pub/
.packages
build/
coverage/

# Flutter générés
.flutter-plugins
.flutter-plugins-dependencies
**/doc/api/

# =========================================================
# Android
# =========================================================
android/app/debug/
android/app/profile/
android/app/release/
android/app/app-release.apk

# Fichiers Flutter Android générés
**/Flutter/Generated.xcconfig
**/Flutter/.last_build_id

# =========================================================
# iOS / macOS
# =========================================================
**/Flutter/ephemeral/
**/Pods/

# =========================================================
# IDE
# =========================================================
.idea/
*.iml
*.ipr
*.iws

.vscode/
# Si tu veux partager les configurations VS Code,
# supprime la ligne ci-dessus.

# =========================================================
# Système
# =========================================================
.DS_Store
Thumbs.db

# =========================================================
# Sécurité
# =========================================================
.env
.env.*
!.env.example

*.keystore
*.jks

# =========================================================
# Fichiers temporaires
# =========================================================
*.log
*.tmp
*.swp